.calendar-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 40px 20px;
    background-color: #f6f1f1d4;
}


.calendar-container h1{
    color: #000;
    font-size: 32px;
    margin-left: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.calendar-description{
    color:#6c6a6a;
    font-size: 16px;
    margin-top: 1px;
    margin-bottom:20px;
    margin-left: 40px;
}
.calendar-container iframe {
    width: 100%;              
    max-width: 1400px; 
    height: 600px;             
    border: 2px solid #1b0404;              
    border-radius: 10px;  
    background-color: #f6f1f1;    
    display:block;
    margin: 0 auto;
  }

